html {
    width: 100vw;
    height: fit-content;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
}
* {
    box-sizing: border-box;
}
main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #dadada;
    box-shadow: 0 0 15px #eae9e9;
}

h1 {
    text-align: center;
}
