body {
    background-color: #dadada;
    height: auto;
    width: 100vw;
}
main {
    height: auto;
    width: 100vw;
}
p,
form {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    padding: 30px 50px;
    background-color: rgb(198, 197, 197);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #2e2e2e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3e3e3e;
}

label {
    position: absolute;
    top: 50%;
    left: 12px;
    font-size: 18px;
    font-weight: bold;
}
