body {
  background-color: #dadada;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

p {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  padding: 30px 50px;
  background-color: rgb(198, 197, 197);
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.2);
}
