.due-divs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    align-items: stretch;
}
.div1, .div2 {
    width: 50%;
    display: flex;
    flex-direction: column;
       flex: 1;
       justify-content: space-around;
}
.cyber-due-divs {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 20px;
  width: 100%;
  align-items: start;
}

.cyber-div1 {
  display: block;
}

.cyber-div2 {
  display: grid;
  gap: 20px;
  justify-items: center;
}

#HiddenWiki, #NegozioArmi {
    width: 60%;
    height: auto;
}
#DarkWeb {
    position: relative
}
#HiddenWiki {
    position: absolute;
    top: 100px;
    left: 30px;
}
#NegozioArmi {
    position: absolute;
    top: 1px;
    left: 250px;
    z-index: 2;
}