.due-divs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    align-items: stretch;
}
.div1, .div2 {
    width: 50%;
    display: flex;
    flex-direction: column;
       flex: 1;
       justify-content: space-around;
}
.cyber-due-divs {
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 20px;
  width: 100%;
  align-items: start;
}

.cyber-div1 {
  display: block;
}

.cyber-div2 {
  display: grid;
  gap: 20px;
  justify-items: center;
}

#HiddenWiki, #NegozioArmi {
    width: 60%;
    height: auto;
}
#DarkWeb {
    position: relative
}
#HiddenWiki {
    position: absolute;
    top: 100px;
    left: 30px;
}
#NegozioArmi {
    position: absolute;
    top: 1px;
    left: 250px;
    z-index: 2;
}

.tornasu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
    background-color: #2e2e2e;
    color: white;
    padding: 10px 10px;
    width: 50px;
    height: 50px;
    text-align: center;;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}