:root {
  --text-color: white;
  --font-family: "Courier New", Courier, monospace;
}

* {
  font-family: var(--font-family);
  font-weight: 900;
}

html {
  margin: 0;
  font-size: 20px;
  height: 100vh;
  width: 100vw;
  font-family: var(--font-family);
}

body {
  height: inherit;
  width: inherit;
  overflow: hidden;
}

.sign-in-form-Conatiner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2e2e2e;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.sign-in-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(34, 34, 34);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 50px 20px;
  gap: 25px;
  border-radius: 10px;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  gap: 5px;
}
.input-group {
  margin-left: 0;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-group input {
  color: rgb(67, 67, 67);
  border-radius: 7px;
  width: 97.5%;
  height: 40px;
  border: none;
}

.input-group label {
  pointer-events: none;
  color: rgb(67, 67, 67);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  font-size: 15px;
  transition: 0.2s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
  color: var(--text-color);
  font-size: 12px;
  top: -11px;
  left: 5px;
}

.btns input {
  border: none;
  flex-grow: 1;
  padding: 10px;
  border-radius: 7px;
}

.btns input:first-child {
  background-color: rgb(135, 192, 135);
}
