:root {
  --background-color: #dadada;
  --font-family-heading: "Courier New", Courier, monospace;
  --primary-color: #2e2e2e;
  --strong-color: #3e3e3e;
}

* {
  box-sizing: border-box;
  line-height: 30px;
  letter-spacing: -1px;
}

html {
  font-size: 20px;
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: var(--background-color);
}

header {
  width: 100%;
  height: 5rem;
  margin: 0;
}

header nav {
  width: 100%;
  position: relative;
  padding: 0 2rem;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
}

header nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav img {
  height: 4.2rem;
  margin: 0;
  padding: 0;
}

nav span {
  padding: 0.5rem 2rem;
  text-align: center;
  cursor: pointer;
}

nav span a {
  text-decoration: none;
  color: #898989;
  transition: 0.175s;
}

nav div span:nth-child(1) {
  width: max-content;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem 2rem;
}

nav span a:hover,
.selected {
  color: #eaeaea;
}

.right-side {
  width: max-content;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

main {
  width: 98%;
  height: max-content;
  margin: 1rem;
}

h1,
h2 {
  font-family: var(--font-family-heading);
  color: var(--primary-color);
  margin: 0.5rem 0;
}

strong {
  color: var(--strong-color);
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: underline;
  color: var(--primary-color);
  font-weight: bold;
}

button {
  font-family: monospace;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary-color);
  color: #e0e0e0;
  cursor: pointer;
  transition: 0.175s;
}
