:root {
    --background-color: #dadada;
    --font-family-heading: "Courier New", Courier, monospace;
    --primary-color: #2e2e2e;
    --strong-color: #3e3e3e;
}

* {
    box-sizing: border-box;
    line-height: 30px;
    letter-spacing: -1px;
}

html {
    font-size: 20px;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: var(--primary-color-color);
}

::-webkit-scrollbar {
    background-color: var(--primary-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--background-color);
}

header {
    width: 100%;
    height: 5rem;
    margin: 0;
}

header nav {
    width: 100%;
    position: relative;
    padding: 0 2rem;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
}

header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    padding: 50px;
}

nav img {
    height: 4.2rem;
    margin: 0;
    padding: 0;
}

nav .mobile-menu,
nav .dropdown-menu {
    display: none;
}
nav .mobile-menu {
    border-radius: 7px;
    display: none;
    align-items: center;
    position: relative;
    width: 60px;
    height: 60px;
}
nav .mobile-menu .mobile-menu-span {
    position: absolute;
    background-color: var(--background-color);
    left: 50%;
    width: 80%;
    height: 3px;
    padding: 0;
    transition: 0.2s ease-in;
}
nav .mobile-menu .mobile-menu-span:nth-child(1) {
    top: 25%;
    transform: translate(-50%, -75%);
}
nav .mobile-menu .mobile-menu-span:nth-child(2) {
    top: 50%;
    transform: translate(-25%, -50%);
}
nav .mobile-menu .mobile-menu-span:nth-child(3) {
    top: 75%;
    transform: translate(-50%, -25%);
}

nav .mobile-menu.open .mobile-menu-span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

nav .mobile-menu.open .mobile-menu-span:nth-child(2) {
    opacity: 0; /* this is correct */
}

nav .mobile-menu.open .mobile-menu-span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

nav span {
    padding: 0.5rem 2rem;
    text-align: center;
    cursor: pointer;
}

nav span a {
    text-decoration: none;
    color: #898989;
    transition: 0.175s;
}

nav div span:nth-child(1) {
    width: max-content;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5rem 2rem;
}

nav span a:hover,
.selected {
    color: #eaeaea;
}

.right-side {
    width: max-content;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

main {
    width: 100%;
    min-height: calc(100vh - 100px);
    padding: 30px;
}

h1,
h2 {
    font-family: var(--font-family-heading);
    color: var(--primary-color);
    margin: 0.5rem 0;
}

strong {
    color: var(--strong-color);
    font-family: "Courier New", Courier, monospace;
}

a {
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: bold;
}

button {
    font-family: monospace;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--primary-color);
    color: #e0e0e0;
    cursor: pointer;
    transition: 0.175s;
}

footer {
    position: relative;
    background: #2e2e2e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 3%;
    width: 100%;
}

/* Media */

@media only screen and (max-width: 550px) {
    nav {
        justify-content: space-evenly;
        padding: 20px !important;
    }
    nav ul,
    nav ul span {
        padding: 0 !important;
        gap: 10%;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}
@media only screen and (max-width: 1200px) {
    .right-side {
        display: none;
    }
    nav .mobile-menu {
        display: flex;
    }
}
